h1{
    color:wheat;
}
h2 {
    color: rgb(9, 93, 49);
}
.h2 {
    color: rgb(88, 26, 118);
    font-size:xx-large;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Silkscreen Expanded', sans-serif;


}
aside {
    float: right;
    width: 320px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: #d0d0d0;
    padding: 5px;
    border: 1px solid #a8a8a8;

  }
  body{
    background-color: blanchedalmond;
  }
  header{
    background-color: rgb(20, 180, 238);
  }
  footer {
    background-color: black;
    color: white;
  }